<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  {% include analytics.html %}
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/styles.css">
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.png" />
  {% seo %}
</head>
{% if site.tags != "" %}
{% include collecttags.html %}
{% endif %}