<div class="navigation-container">

    <div class="logo-mobile">
        <a href="{{ site.url}}{{ site.baseurl }}/index.html">
            <p>Em</p>
        </a>
    </div>

    
    <input type="checkbox" id="toggle">

    <label for="toggle" class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    
    <div class="navigation">
        {% for item in site.data.navigation %}
        <div class="navigation-item">
            <a class="navigation-link" href="{{ site.baseurl }}{{ item.link }}">
                {{ item.name }}
            </a>
        </div>
        {% endfor %}
    </div>
</div>