<ul class="navigation-container">

    <li class="logo-mobile">
        <a href="{{ site.url}}{{ site.baseurl }}/index.html">
            <p>Em</p>
        </a>
    </li>

    <li class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </li>
    
    <ul class="navigation">
        {% for item in site.data.navigation %}
        <li class="navigation-item">
            <a href="{{ site.baseurl }}{{ item.link }}">
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</ul>