.footer {
    width: 100%;

    .social-button-title{
        color: $text-color;
        font-family: $base-font-family;
        text-align: center;
        margin: 20px 0px;
        font-weight: lighter;
    }
    .social-button-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .social-button {
            width: 20px;
            height: 20px;   
            padding: 8px;
            
            background-color: $brand-color;
            border-radius: 180px;
            margin: 5px;

            .social-button-link {
                .social-button-icon{
                    color: $background-color;
                }
            }
        }
    }
}