body{
    background-color: $background-color;
}

.container{
    display: grid;
    grid-template-columns: 20% min-content auto;
    grid-template-rows: 120px 90% 20%;
    
    @include media($mediaMinWidth){
        display: block;
    }
}