    .logo {
        margin: 0 0 0 auto;
        grid-column: 1;
        grid-row: 1;
        background-color: yellow;
        width: fit-content;
        height: fit-content;
        border-radius: 5px;

        @include media($mediaMinWidth){
            display: none;
        } 

        a {
            text-decoration: none;
        }

        p {
            color: #081421;
            font-size: 70px;
            padding: 0px 10px 0px 10px;
            font-family: 'Pacifico', cursive;

            @include media($mediaMinWidth){
                font-size: 40px;
            }
        }
    }

    .quote {
        color: yellow;
        font-size: 24px;
        font-family: $brand-font-family;
        margin: auto auto auto 20px;
        text-align: center;
        text-align: left;
        white-space: nowrap;
        @include media($mediaMinWidth){
            display: none;
        }

        @include media(810px){
            font-size: 2vw;
        }
    }