.header-container{
    grid-column: 1;
    grid-row: 1;
    order: 0;
    .logo{
        float: right;
        background-color: yellow;
        width: fit-content;
        height: auto;
        border-radius: 5px;
        padding: 0px 10px 0px 10px;
        p{
            color: black;
            font-size: 70px;
            font-family: 'Pacifico', cursive;
        }
    }
}
