    .logo {
        margin: 0 0 0 auto;
        grid-column: 1;
        grid-row: 1;
        background-color: yellow;
        width: fit-content;
        height: fit-content;
        border-radius: 5px;
        padding: 0px 10px 0px 10px;

        p {
            color: #081421;
            font-size: 70px;
            font-family: 'Pacifico', cursive;
        }
    }

    .quote {
        color:yellow;
        margin: auto auto auto 0;
        font-size: 24px;
        font-family: 'Pacifico';
        text-align: left;
    }