.email-form {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px 20px;
    max-width: 600px;

    .title{
        color: $text-color;
        font-family: $base-font-family;
    }
    

    /* webkit solution */
    ::-webkit-input-placeholder {
        text-align: left;
    }

    /* mozilla solution */
    input:-moz-placeholder {
        text-align: top;
    }

    .contact-message {
        height: 200px;
    }

    .contact-email {
        height: 1fr;
    }

    .contact-submit {
        background-color: $brand-color;
        color: $background-color;
        border-radius: 10px;
    }
}

.input-field {
    font-size: 18px;
    height: 50px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 10px;
}