.navigation-container{
    .navigation{
        list-style-type: none;
        height: 62px;
        justify-content: center;
        .navigation-item{
            font-size: 26px;
            margin: 10px;
            a{
                font-family: 'Courier new', sans-serif;
                text-decoration: none;
                text-align: right;
                display: block;
                color: white;
            }
        }
    }
}

.stuff{
    background-color: crimson;
}
