.navigation-container{

    .navigation{
        list-style-type: none;
        height: 62px;
        background-color: #212121;

        .logo{
            position: relative;
            top: 0px;
            left: 10px;
            width: 120px;
            height: 120px;
        }
        
        .navigation-item{
            font-size: 36px;
            float: right;
            margin: 10px;
            a{
                font-family: 'Chakra Petch', sans-serif;
                text-decoration: none;
                display: block;
                color: crimson;
            }
        }
    }
}

