    .post-thumb-container{
        list-style: none;
        .post-thumb{
            margin: 1px;
            background-color: crimson;
            a{
                text-decoration: none;
            }
        }
    }


.post{

}