    .post-thumb-container{
        display: flex;
        list-style: none;

        .post-thumb{
            width: 302;
            height:402;
            margin: 2px;

            a{
                text-decoration: none;
            }
        }
    }


.post{

}