.posts{
    grid-row: 2;
    grid-column: 2;
    .posts-heading{
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 34px;
        margin: 0px 0px 0px 20px;
    }
}

.post-container{
    grid-column: 2;
    grid-row: 2;
    width: 880px;
    flex-flow: row wrap;
    display: flex;
    list-style: none;
    flex-direction: row;

    .post{
        margin: 20px;
        width: 400px;
        font-family: 'Source Sans Pro', sans-serif;
        
        .date-author {
            color: gray;
        }

        .post-title {
            margin: 0px 0px 10px 0px;
        }

        .short-descr {
            color: white;
        }

        .read-more {
            margin: 5px 0px 0px;
        }

        a{
            width: inherit;
            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            text-decoration: none;
        }
    }
}
