.tag-container {
    grid-column: 2;
    grid-row: 2;
    margin: 0px 20px;

    .tag-title {
        color: white;
        font-size: 36px;
        font-family: $base-font-family;
        border-bottom: 5px solid $brand-color;
        margin-bottom: 20px;
    }

    .tag-posts {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        max-width: 1100px;
        width: fit-content;

        .tag-post {
            margin: 0px 20px 20px 0px;
            min-width: 250px;
            max-width: 40%;
            font-family: $base-font-family;

            .tag-post-date {
                color: gray;
            }

            .tag-post-title {
                margin-bottom: 10px;

                .tag-post-link {
                    text-decoration: none;
                    color: $text-color;
                    font-size: 24px;
                }
            }

            .tag-post-description {
                color: $text-color;
                font-size: 20px;
            }

            @include media($mediaBp1Width){
                max-width: 500px;
            }
        }


    }
}

.small-tag-container {
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .small-tag {
        background-color: $brand-color;
        display: inline-block;
        margin: 2px 2px;
        border-radius: 5px;

        .small-tag-link {
            padding: 0px 10px;
            color: $background-color;
            text-decoration: none;
            font-family: $base-font-family;
            font-weight: bold;
        }
    }
}

.categories-container {
    white-space: nowrap;
    font-family: $base-font-family;
    grid-column: 2;
    grid-row: 2;
    margin: 0px 20px;
    max-width: 1100px;

    .categories-title {
        color: $text-color;
        font-size: 36px;
        margin-bottom: 20px;
        border-bottom: 5px solid $brand-color;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;


        .category {
            background-color: $brand-color;
            text-decoration: none;
            color: $background-color;
            border-radius: 5px;
            padding: 0px 10px;
            margin: 2px 2px;
            font-weight: bold;
        }
    }


}