$base-font-family: Helvetica, Arial, sans-serif;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:       #ffffff;
$background-color: #081421;
$brand-color:      yellow;