$base-font-family: 'Dosis', Arial, sans-serif;
$brand-font-family: 'Pacifico', sans-serif, cursive;

$text-color:       #ffffff;
$sec-text-color:   gray;
$background-color: #081421;
$brand-color:      yellow;

$mediaMaxWidth: 1083px;
$mediaBp1Width: 740px;
$mediaMinWidth: 530px;




