.about-container {
    font-family: $base-font-family;
    color: $text-color;
    .landing-image {
        background-image:  url("../images/poly.jpg");
        height: 70vh;
        background-size: cover;
        background-repeat: no-repeat;

        .landing-div {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            
            .about-title-container{
                display: flex;
                
                .about-title {
                    text-align: center;
                    letter-spacing: 20px;
                    font-size: 3rem;

                    @include media($mediaBp1Width){
                        font-size: 2rem;
                    }

                    @include media($mediaMinWidth){
                        font-size: 7vw;
                        letter-spacing: 10px;
                    }
                }
                .initial {
                    color: $background-color;
                    background-color: $brand-color;
                    padding: 0px 0px 0px 18px;
                    border-radius: 10px;

                    @include media($mediaMinWidth){
                        padding-left: 10px;
                    }
                }
            }
            
    
            .about-description {
                text-align: center;
                font-size: 1.5rem;
                font-weight: lighter;
            }
        }
    }
    .about-me-div {
        max-width: 1270px;
        margin: 0px auto;
        border-bottom: 2px solid $brand-color;

        @include media(1290px){
            margin: 10px;
        }

        @include media($mediaMinWidth){
            margin: 10px;
        }
    }

    .subtitle {
        letter-spacing: 20px;
        font-size: 2.5rem;
        margin: 50px 0px;
    }

    .subtext{
        font-size: 1.2rem;
        font-weight: lighter;
        margin: 10px 0px;
    }

    .goals-div{
        max-width: 1270px;
        margin: 0px auto;
        border-bottom: 2px solid $brand-color;

        .goals{
            font-size:1.5rem;
        }
        .goal-list{
            margin: 0px 50px 10px;
        }

        @include media($mediaBp1Width){
            margin: 10px;
        }

        @include media($mediaMinWidth){
            margin: 10px;
        }
    }

    .navigation {
        display: flex;
        font-family: $base-font-family;
        font-size: 2rem;
        justify-content: center;
        .navigation-item{
            margin: 20px;
            .navigation-link{
                text-decoration: none;
                color: $text-color;

            }
        }
    }
}