---
layout: default
---


<article class="full-post">
    <p class="full-post-date-author">{{ page.date | date_to_string }} <i>by</i> {{ page.author }}</p>
    <h1 class="full-post-title">{{ page.title }}</h1>
    <div class="small-tag-container">
        {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <div class="small-tag">
            <a class="small-tag-link" href="{{ site.baseurl }}/tag/{{ tag_name }}">
                {{ tag_name }}
            </a>
        </div>
        {% endfor %}

    </div>
    <div class="full-post-text">
        {{ content }}
    </div>
    {% include disqus_comments.html %}
</article>

<aside class="aside-container">
    <div class="related-posts">

        <h4>You May Also Enjoy</h4> 
        
        {% assign maxRelated = 4 %}
        {% assign minCommonTags =  2 %}
        {% assign maxRelatedCounter = 0 %}
        
          {% for post in site.posts %}
        
            {% assign sameTagCount = 0 %}
            {% assign commonTags = '' %}
        
            {% for tag in post.tags %}
              {% if post.url != page.url %}
                {% if page.tags contains tag %}
                  {% assign sameTagCount = sameTagCount | plus: 1 %}
                  {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
                  {% assign commonTags = commonTags | append: tagmarkup %}
                {% endif %}
              {% endif %}
            {% endfor %}
        
            {% if sameTagCount >= minCommonTags %}
              <div>
              <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{ commonTags }}</a></h5>
              </div>
              {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
              {% if maxRelatedCounter >= maxRelated %}
                {% break %}
              {% endif %}
            {% endif %}
        
          {% endfor %}
        
        </div>
</aside>




