---
layout: default
---


<article class="full-post">
    <p class="full-post-date-author">{{ page.date | date_to_string }} <i>by</i> {{ page.author }}</p>
    <h1 class="full-post-title">{{ page.title }}</h1>
    <div class="small-tag-container">
        {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <div class="small-tag">
            <a class="small-tag-link" href="{{ site.baseurl }}/tag/{{ tag_name }}">
                {{ tag_name }}
            </a>
        </div>
        {% endfor %}

    </div>
    <div class="full-post-text">
        {{ content }}
    </div>
    {% include disqus_comments.html %}
</article>




