---
layout: default
---
<div class="tag-container">
    <h1 class="tag-title"> Category // {{ page.tag }}</h1>
    <ul class="tag-posts">
        {% for post in site.tags[page.tag] %}
        <li class="tag-post">
            <p class="tag-post-date">{{ post.date | date: '%B %d, %Y' }} <i>by</i> {{ post.author }}</p>
            
            <h2 class="tag-post-title">
                <a class="tag-post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>

            <p class="tag-post-description">{{ post.description }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
